body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
  }

  .buscador-de-cep-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .cep-input {
    padding: 8px;
    margin-bottom: 10px;
    width: 200px;
  }
  
  .search-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .endereco-texto {
    margin-top: 10px;
    font-weight: bold;
    color: rgb(253, 253, 253);
  }

  h1 {
    color: #fff;
  }
  